:root {
  --color-white: #ffffff;
  --color-night-100: #f6f8fa;
  --color-night-200: #CED4DF;
  --color-night-300: #A6B1C2;
  --color-night-400: #808DA4;
  --color-night-500: #5C6A85;
  --color-night-600: #4C5974;
  --color-night-700: #3C4961;
  --color-night-800: #2e394e;
  --color-night-900: #20293A;
  --color-blue-500: #1E71D4; 
}